/* reset geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* para definir variaveis que podem ser usadas depois com var(--cor-fundo) */
:root {
    --cor-fundo: #0f172a;
    --cor-texto: #e2e8f0;
    --cor-destaque: #38bdf8;
}

body{
    font-family: system-ui, sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    line-height: 1.6;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    gap: 15px;
    display: flex;
}

section p,
section ul {
    margin-left: 50px;
}

.lista-contato {
    margin-left: 90px;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-destaque);
}

section {
    padding: 15px 35px;
}

footer {
    text-align: center;
    padding: 20px;
}
